body {
  margin: 0;
  font-family: Arial;
  background: #0f0f1a;
  color: white;
}

header {
  background: #141414;
  padding: 15px;
  text-align: center;
}

input, select {
  padding: 8px;
  margin: 5px;
}

button {
  padding: 8px 12px;
  background: #e50914;
  border: none;
  color: white;
  cursor: pointer;
}

h2 {
  margin-left: 20px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.card {
  background: #1f1f2e;
  width: 200px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card button {
  margin-top: 10px;
}